body{
    height: 100%;
    font-family: "Montserrat";
}

#intro {
    overflow: hidden;
    height: 100%;
    z-index: 1;
    position: relative;
}
#intro::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    
}
#intro img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}